.bestSeller {
  width: 100%;
  height: 295px;
  padding: 0 20px;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .bestSeller-inner {
    width: 90%;
    height: 100%;
    background-color: #da2f4e;
    padding: 20px 0;
    border-radius: 17px;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-bestSeller {
        width: 100%;
        height: 100%;
        .swiper-slide-bestSeller-link {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: column wrap;
          text-decoration: none;
          row-gap: 10px;
          .swiper-slide-bestSeller-link-svg-1 {
            width: 88px;
            height: 88px;
            margin: 0 auto;
            padding-bottom: 15px;
          }
          .counter {
            width: 100%;
            height: 30px;
            display: flex;
            flex-flow: row-reverse wrap;
            justify-content: center;
            align-items: center;
            column-gap: 2px;
            .box {
              width: 27px;
              background-color: white;
              padding: 6px 6px;
              font-size: 13px;
              font-weight: bold;
              border-radius: 5px;
              text-align: center;
              font-family: Yekan;
              color: #23254e;
            }
            .colon {
              color: white;
              width: fit-content;
              font-weight: bold;
            }
          }
          .swiper-slide-bestSeller-link-svg-2 {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            /* padding-top: 20px; */
          }
          .bestSeller-see-more {
            font-family: Yekan;
            color: whitesmoke;
            font-size: 12px;
            /* padding-top: 20px; */
          }
        }
        img {
          justify-content: center;
          align-items: center;
        }
      }
    }

    .swiper-slide {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      .swiper-slide-items {
        height: 100%;
        width: 100%;
        .swiper-slide-items-link {
            display: block;
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column wrap; 
            text-decoration: none;
            align-items: center;
            row-gap: 20px;
          .swiper-slide-image {
            width: 132px;
            height: 132px;
            img{
                width: 100%;
                height: 100%;
            }
          }
          .swiper-slide-title {
            width: 80%;
            font-size: 11px;
            font-family: Yekan;
            margin: 0 auto;
            text-decoration: none;
            color: #2b2b2b;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
            line-height: 20px;
            text-align: right;
          }
        }
      }
    }
  }
}
.bg-red {
  background-color: #da2f4e;
}
