.bestSeller {
  width: 100%;
  height: 295px;
  padding: 0 20px;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .bestSeller-inner {
    width: 90%;
    height: 100%;
    background-color: #da2f4e;
    padding: 20px 0;
    border-radius: 16px;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-bestSeller {
        width: 100%;
        height: 100%;
        .see-more {
          img {
            width: 5px;
          }
        }
        .swiper-slide-bestSeller-link {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: column wrap;
          text-decoration: none;
          row-gap: 10px;
          .swiper-slide-bestSeller-link-svg-1 {
            width: 90px;
            height: 90px;
            margin: 0 auto;
            padding-bottom: 3px;
          }
          .counter {
            width: 100%;
            height: 30px;
            display: flex;
            flex-flow: row-reverse wrap;
            justify-content: center;
            align-items: center;
            column-gap: 2px;
            .box {
              width: 27px;
              background-color: white;
              padding: 6px 6px;
              font-size: 13px;
              font-weight: bold;
              border-radius: 5px;
              text-align: center;
              font-family: Yekan;
              color: #23254e;
            }
            .colon {
              color: white;
              width: fit-content;
              font-weight: bold;
            }
          }
          .swiper-slide-bestSeller-link-svg-2 {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            /* padding-top: 20px; */
          }
          .bestSeller-see-more {
            font-family: Yekan;
            color: whitesmoke;
            font-size: 12px;
            /* padding-top: 20px; */
          }
        }
        img {
          justify-content: center;
          align-items: center;
        }
      }
    }

    .swiper-slide {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      object-fit: cover;
      .swiper-slide-items {
        height: 100%;
        width: 100%;
        display: flex;
        .swiper-slide-items-link {
          display: block;
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: column wrap;
          text-decoration: none;
          align-items: center;
          row-gap: 20px;
          .swiper-slide-image {
            width: 132px;
            height: 132px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              border-radius: 8px;
              display: inline-block;
              overflow: hidden;
              position: relative;
            }
          }
          .swiper-slide-title {
            width: 80%;
            height: 40px;
            font-size: 11px;
            font-family: Yekan;
            margin: 0 auto;
            font-weight: lighter;
            text-decoration: none;
            color: #62666d;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
            line-height: 20px !important;
            text-align: right;
          }
        }
      }
    }
  }
}
.bg-red {
  background-color: #da2f4e;
}

.price-slider{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .price-slider-upper{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    
  .price{
    font-family: Yekan;
    color: #343552;
    font-size: 14px;
  }
  .percentage{
    padding: 0 4px;
    background-color: #d32f2f;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 50px;
    height: 20px;
    width: 34px;
    span{
      font-family: Yekan;
      color: #fff;
      font-size: 12px;
      line-height: 2.17;
    }
  }
}
.discounts{
  font-family: Yekan;
  display: flex;
  font-size: 12px;
  text-decoration: line-through;
  color: #c0c2c5;
  line-height: 21px !important;
  align-self: flex-end;
  margin-right: auto;
  padding: 0 0 0 20px;
}
}

.radius-one{
  border-radius: 0 8px 8px 0;
}