* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.space-footer {
  margin-top: 50px;
  border: none;
  height: 0.7px;
  background-color: rgb(223, 222, 222);
}

.footer-sub {
  width: 100%;
  padding-top: 35px;
  display: flex;
  flex-flow: row wrap;
  .footer-inner {
    width: 100%;
    display: flex;
    .footer-header {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      .header-up {
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        img {
          width: 195px;
        }
        .header-up-left {
          a {
            text-decoration: none;
            transition: 3s ease;
            button {
              width: 138px;
              height: 40px;
              background-color: #fff;
              border-radius: 6px;
              padding: 8px 16px;
              display: flex;
              border: 1px solid lightgrey;
              margin-left: 20px;
              span {
                font-family: Yekan;
                font-size: 12px;
                color: grey;
                margin-left: 8px;
                font-weight: 1.2rem;
                cursor: pointer;
                column-gap: 30px;
                font-weight: 600;
                line-height: 2.17;
              }
              img {
                width: 12px;
              }
            }
          }
        }
      }
      .header-down {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: row wrap;
        margin-top: 15px;
        p {
          font-family: Yekan;
          color: #3f4064;
          font-size: 12px;
          line-height: 2.17;
        }
      }
    }
  }
  .footer-inner-icons {
    width: 100%;
    display: flex;
    flex-flow: row;
    margin-top: 48px;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
    .icons {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      text-align: center;
      align-items: center;
      padding: 12px 0;
      img {
        width: 56px;
        height: 56px;
      }
      p {
        font-family: Yekan;
        font-size: 11px;
      }
    }
  }
  .DigiKala-app{
    width: 99%;
    display: flex;
    flex-direction: row;
    height: 76px;
    padding: 8px 20px;
    margin: 0 28px;
    background-color: #3c4b6d;
    border-radius: 8px;
    .DigiKala-app-right{
      width: 50%;
      align-items: center;
      display: flex;
      img{
        width: 50px;
        height: 50px;
      }
      p{
        font-family: Yekan;
        color: #fff;
        font-size: 21px;
        margin: 0 16px 0 0;
      }
    }
    .DigiKala-app-left{
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      img{
        width: 142px;
        height: 44px;
        border-radius: 4px;
        margin-left: 8px;
      }
      .three-dot{
        margin-right: 20px;
        width: 45px;
        height: 42px;
        background-color: #fff;
      }
    }
  }
  .digikala-main-footer{
    width: 99%;
    margin-top: 30px;
    padding: 32px 0;
    display: flex;
    flex-flow: row wrap;
    border-top: 1px solid #f0f0f1;
    .main-footer-right{
      width: 60%;
      display: flex;
      flex-direction: column;
      flex-flow: row wrap;
      position: relative;
      h1{
        font-family: Yekan;
        font-size: 21px;
        color: #62666d;
        text-align: right;
        font-weight: lighter;
        line-height: 2.17;
      }
      p{
        font-family: Yekan;
        font-size: 12px;
        color: #81858b;
        text-align: right;
        font-weight: lighter;
        line-height: 2.17;
        
      }
    }
    .main-footer-left{
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      a{
        width: 108.6px;
        height: 108.6px;
        margin: 0 8px 0 0;
        padding: 16px;
        border: 1px solid #d0d0d0;
        border-radius: 8px;
        img{
          width: 75px;
          height: 75px;
        }
      }
    }
    .see-more{
      display: flex;
      cursor: pointer;
      margin-top: 10px;
      span{
        color: #19bfd3;
        font-family: Yekan;
        font-size: 12px;
        line-height: 2.17;
      }
    }
  }
  .main-footer-down{
    display: flex;
    width: 98%;
    margin: 10px auto;
    padding-top: 32px;
    border-top: 1px solid #f0f0f1;
    justify-content: center;
    p{
      color: #81858b;
      font-family: Yekan;
      font-size: 11px;
    }
  }
}

.space {
  width: 1px;
  background-color: rgb(169, 164, 164);
  margin: 0 20px;
  height: 13px;
  display: flex;
  align-items: flex-end;
}
.space-2 {
  width: 2px;
  background-color: rgb(169, 164, 164);
  margin: 0 20px;
  height: 13px;
  display: flex;
  align-items: flex-end;
}

.contacts-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 32px;
  margin-top: 30px;
  .contacts-footer-right {
    display: flex;
    .contact-us {
      display: block;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      flex-grow: 1;
      margin-left: 220px;
      margin-right: 10px;
      h3 {
        font-family: Yekan;
        color: #3f4064;
        font-size: 16px;
        text-align: right;
        font-weight: lighter;
        line-height: 2.17;
      }
      p {
        line-height: 2.17;
        color: #81858b;
        font-size: 14px;
        text-align: right;
        font-family: Yekan;
        margin-bottom: 8px;
      }
    }
  }
  .contacts-footer-left {
    display: flex;
    flex-flow: row wrap;
    flex-direction: column;
    h3 {
      color: #3f4064;
      margin-bottom: 20px;
      line-height: 2.17;
      font-family: Yekan;
      font-weight: lighter;
      font-size: 16px;
    }
    .icons-footer {
    margin-bottom: 15px;
      display: flex;
      align-items: center;
      height: 40px;
      box-sizing: border-box;
      .inst {
        width: 65px;
        height: 65px;
      }
      .linkd {
        width: 50px;
        height: 50px;
      }
      .tweet {
        width: 65px;
        height: 65px;
      }
      .apart {
        width: 50px;
        height: 50px;
      }
    }
    form{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 5px;
    label{
        display: flex;
        width: 250px;
        height: 48px;
        background-color: #e1e1e2;
        padding: 0 8px;
        border-radius: 8px;
        align-items: center;
        p{
            font-size: 14px;
            color: #81858b;
            font-family: Yekan;
            font-weight: lighter;
        }
      }
      button{
        display: flex;
        width: 58px;
        height: 48px;
        border-radius: 8px;
        border: none;
        background-color: #d0d0d0;
        align-items: center;
        justify-content: center;
        p{
            font-family: Yekan;
            color: #fff;
            font-size: 14px;
        }
      }
    }
  }
}

.main-footer-right::before{
  content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 30%, #ffffff);
}


.footer-end{
  margin-top: 32px;
  width: 100%;
  background-color: #f0f0f1;
  z-index: 999;
  position: relative;
  .footer-end-inner{
    display: flex;
    flex: 1 1 150px;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0px auto;
    width: 100%;
    max-width: 1676px;
    div{
      height: 80px;
      padding: 0 20px;
      border-right: 1px solid #e0e0e2;
      border-bottom: 1px solid #e0e0e2;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-grow: 1;
      display: flex;
      width: 12%;
      img{
        object-fit: contain;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        position: relative;
        height: 20px;
      }
    }
  }
}

.poshtibani{
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 32px;
  background: transparent;
  cursor: pointer;
  z-index: 1;
  right: 50px;
  div{
    background-color: #ef4056;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 24px;
      height: 24px;
    }
  }
}

