.header {
  width: 100%;
  height: 170px;
  box-shadow: 1px 1px 3px lightgray;
  position: sticky;
  background-color: white;
  z-index: 99999;
  top: 0;
  header {
    width: inherit;
    height: inherit;
    .top-header {
      width: 100%;
      height: 60px;
      background-color: #ed1945;
      .header-img {
        width: inherit;
        height: inherit;
      }
    }
    .center-header {
      width: 100%;
      height: 70px;
      display: flex;
      flex-flow: row wrap;
      .digikala-header-center-logo {
        width: 15%;
        height: 100%;
        padding-right: 17px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }
      .digikala-header-center-search {
        width: 70%;
        height: 100%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding-right: 8px;
        .search-input-center {
          width: 56%;
          height: 44px;
          margin: 15px;
          background-color: #f0f0f1;
          border: none;
          border-radius: var(--border-radius-medium);
          padding-right: 10px;
          caret-color: gray;
          font-family: Yekan;
          &::placeholder {
            padding-right: 30px;
            font-family: Yekan;
            font-size: 12px;
            color: gray;
          }
        }
      }
      .digikala-header-center-login {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 13px;
        .digikala-header-center-register-link {
          display: flex;
          flex-flow: row wrap;
          width: 135px;
          height: 40px;
          border: 1px solid lightgray;
          justify-content: center;
          align-items: center;
          border-radius: var(--border-radius-medium);
          column-gap: 5px;
          font-family: Yekan;
          font-size: 12px;
          text-shadow: 0 0 1px gray;
          text-decoration: none;
          color: #2b2b2b;
          .gap-register {
            width: 1.6px;
            height: 14px;
            background-color: #2b2b2b;
          }
        }
        .digikala-header-center-login-seprator {
          width: 1px;
          height: 27px;
          background-color: lightgrey;
        }
      }
    }
    .bottom-header {
      width: 100%;
      height: 40px;
      display: flex;
      flex-flow: row wrap;
      .bottom-header-right {
        padding-right: 20px;
        height: 100%;
        width: 87%;
        nav {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: row wrap;
          position: relative;
          div {
            width: fit-content;
            height: 100%;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              column-gap: 3px;
              height: 100%;
              width: fit-content;
              padding: 0 12px;
              font-family: Yekan;
              text-decoration: none;
              font-size: 11px;
              color: #78797c;
              position: relative;
            }
          }
          .category-section{
            width: 65vw;
            height: 50vh;
            position: absolute;
            z-index: 2;
            right: 0;
            display: none;
            background-color: #fff;
            border-top: 1px solid lightgrey;
            box-shadow: 0 0 1px gray;
            .category-section-right{
              width: 15%;
              height: 100%;
              direction: ltr;
              background-color: #fff; 
              overflow: scroll;
              .category-section-items{
                width: 100%;
                height: 50px;
                background-color: #fff;
                .category-section-link{
                  display: block;
                  width: 100%;
                  height: 100%;
                  text-align: center;
                  color: #3f4064;
                  background-color:#f0f0f1;
                  line-height: 2.17;
                  font-family: Yekan;
                  font-size: 12px;
                }
                .category-section-left{
                  width: 85%;
                  height: 100%;
                  left: 0;
                  top: 0;
                  display: none;
                  position: absolute;
                  direction: rtl;
                  flex-direction: column;
                  flex-wrap: wrap;
                  overflow: scroll;
                  .inner-sections{
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding-right: 20px;
                    background-color: #fff;
                    .columns-topic{
                      width: 100%;
                      height: 50%; 
                      justify-content: flex-start;
                      align-items: flex-start;
                      flex-direction: column;
                      display: flex;
                      gap: 10px;
                      h3{
                        font-family: Yekan;
                        text-align: right;
                        color: #2b2b2b;
                        line-height: 40px;
                        font-size: 15px;
                        font-weight: lighter;
                      }
                      p{
                        color: #78797c;
                        font-size: 12px;
                        font-family: Yekan;
                        text-align: right;
                        line-height: 2.17;
                      }
                    }
                  }
                }
                &:hover .category-section-left{
                  display: flex;
                }
                &:hover .category-section-link{
                  background-color: #fff;
                  color: #ed1945;
                }
              }
            }
          }
          &:hover .category-section{
            display: block;
          }
        }
      }
      .bottom-header-left {
        width: 13%;
        height: 100%;
        .select-location {
          width: fit-content;
          padding: 6px;
          justify-content: center;
          display: flex;
          align-items: center;
          background-color: #fef6ef;
          border-radius: 20px;
          column-gap: 8px;
          font-family: Yekan;
          font-size: 12px;
          color: #f57f17;
        }
      }
    }
  }
}


a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 100%;
  background-color: rgb(229, 12, 12);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: scaleX(1);
}


