* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Yekan;
  src: url(../Fonts/fa/IRANYekanWeb-Medium.eot),
    url(../Fonts/fa/IRANYekanWeb-Medium.ttf),
    url(../Fonts/fa/IRANYekanWeb-Medium.woff),
    url(../Fonts/fa/IRANYekanWeb-Medium.woff2);
}

.wrapper{
    width: 100%;
}

:root{
  --border-radius-medium:8px;
}

.factionBarActive{
    font-size: 14px !important;
    color: black !important;
}

.ChangeScale{
  transform: scale(0.8,0.8);
}