body {
    font-family: sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    direction: rtl;
    margin: 0;
  }
  
  .login-container {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 40px 30px;
    width: 360px;
    text-align: center;
  }
  
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: lighter;
    font-family: Yekan;
    text-align: right;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .welcome {
    color: #3f4064;
    font-family: Yekan;
    font-size: 12px;
    text-align: right;
  }
  
  .instruction {
    color: #3f4064;
    font-size: 12px;
    margin-bottom: 20px;
    font-family: Yekan;
    text-align: right;
  }
  
  .input-field {
    width: 90%;
    height: 23px;
    padding: 12px;
    border: 1px solid #007aff;
    border-radius: 11px;
    margin-bottom: 40px;
    font-size: 14px;
  }
  
  .login-btn {
    width: 100%;
    padding: 12px;
    background-color: #ef4056;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: Yekan;
  }
  
  .login-btn:hover {
    background-color: #d63245;
  }
  
  .terms {
    font-size: 11px;
    color: #444;
    font-family: Yekan;
  }
  
  .terms a {
    color: #009dc7;
    text-decoration: none;
    font-family: Yekan;
  }
  